name: CI Build

on:
  push:
    branches:
      - main
      - develop
  schedule:
    - cron: "0 8 * * 1" # At 08:00 on Monday

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'src/go.mod'
          check-latest: true
          cache-dependency-path: |
            src/go.sum

      - name: Build
        env:
          GOPROXY: "https://proxy.golang.org"
        working-directory: src
        run: go build

      - name: Test
        env:
          GOPROXY: "https://proxy.golang.org"
        working-directory: src
        run: go test -v
