name: Nightly Package Deploy

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'src/go.mod'
          check-latest: true
          cache-dependency-path: |
            src/go.sum

      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.3.2
        with:
          versionSpec: '6.x'
      - name: Use GitVersion
        id: gitversion # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v4.3.2

      - name: Build
        env:
          GOPROXY: "https://proxy.golang.org"
          GOOS: linux
          GOARCH: amd64
        working-directory: src
        run: |
          go build -v -ldflags="
          -w
          -s  
          -X 'main.Version=v${{ steps.gitversion.outputs.FullSemVer }}'
          -X 'app/build.Time=$( date '+%F %H-%M-%S' )'
          -X 'github.com/prometheus/common/version.Version=${{ steps.gitversion.outputs.FullSemVer }}'
          -X 'github.com/prometheus/common/version.Revision=${{ steps.gitversion.outputs.VersionSourceSha }}'
          -X 'github.com/prometheus/common/version.Branch=${{ steps.gitversion.outputs.BranchName }}'
          -X 'github.com/prometheus/common/version.BuildDate=$( date '+%F %H-%M-%S' )'"

      - uses: actions/upload-artifact@v6
        with:
          name: docker_service_exporter.${{ steps.gitversion.outputs.FullSemVer }}
          path: src/docker_service_exporter

      - name: Docker Build and push
        uses: VaultVulp/gp-docker-action@1.7.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          dockerfile: Dockerfile
          image-name: server
          image-tag: ${{ steps.gitversion.outputs.FullSemVer }}
          custom-args: |
            --build-arg APP_VERSION=${{ steps.gitversion.outputs.FullSemVer }}
            --build-arg APP_REVISION=${{ steps.gitversion.outputs.VersionSourceSha }}
            --build-arg APP_BRANCH=${{ steps.gitversion.outputs.BranchName }}
